<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SHD.KPSA.Tools.Clean3Ds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SHD.KPSA.Tools.Clean3Ds.Properties.Settings>
            <setting name="StartUpFilePath" serializeAs="String">
                <value>C:\Users\mheob\Desktop\DataTools_Tests\</value>
            </setting>
        </SHD.KPSA.Tools.Clean3Ds.Properties.Settings>
    </userSettings>
</configuration>