<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SHD.KPSA.Tools.Utils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SHD.KPSA.Tools.Utils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SHD.KPSA.Tools.Utils.Properties.Settings>
            <setting name="ThirdPartyFolder" serializeAs="String">
                <value>\3rd-Party\</value>
            </setting>
            <setting name="AccentDarkBluePath" serializeAs="String">
                <value>pack://application:,,,/SHD.KPSA.Tools.Utils;component/Skins/Accents/DarkBlue.xaml</value>
            </setting>
            <setting name="ThemeDarkPath" serializeAs="String">
                <value>pack://application:,,,/SHD.KPSA.Tools.Utils;component/Skins/Accents/BaseDark.xaml</value>
            </setting>
            <setting name="ThemeLightPath" serializeAs="String">
                <value>pack://application:,,,/SHD.KPSA.Tools.Utils;component/Skins/Accents/BaseLight.xaml</value>
            </setting>
        </SHD.KPSA.Tools.Utils.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SHD.KPSA.Tools.Utils.Properties.Settings>
            <setting name="TempFolder" serializeAs="String">
                <value>{0}SHD-HelperTools\</value>
            </setting>
        </SHD.KPSA.Tools.Utils.Properties.Settings>
    </userSettings>
</configuration>