<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HelperTools.MatFileGen.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser"
               requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HelperTools.MatFileGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <HelperTools.MatFileGen.Properties.Settings>
      <setting name="ThumbFolder" serializeAs="String">
        <value>thumb</value>
      </setting>
      <setting name="OuterFrameSize" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="InnerFrameSize" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MappingImageMaxWidth" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="MappingImageMaxHeight" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="MappingImageSuffixPathForOrig" serializeAs="String">
        <value>\_orig_images_\</value>
      </setting>
    </HelperTools.MatFileGen.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <HelperTools.MatFileGen.Properties.Settings>
      <setting name="SettingsThumbnailFile" serializeAs="String">
        <value>SettingsThumbnail.json</value>
      </setting>
      <setting name="SettingsSolidFile" serializeAs="String">
        <value>SettingsSolid.json</value>
      </setting>
    </HelperTools.MatFileGen.Properties.Settings>
  </applicationSettings>
</configuration>