<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SHD.KPSA.Tools.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SHD.KPSA.Tools.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <SHD.KPSA.Tools.Properties.Settings>
      <setting name="StartUpFilePath" serializeAs="String">
        <value>C:\Users\mheob\Desktop\DataTools_Tests\</value>
      </setting>
    </SHD.KPSA.Tools.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SHD.KPSA.Tools.Properties.Settings>
      <setting name="AccentDarkBluePath" serializeAs="String">
        <value>pack://application:,,,/SHD.KPSA.Tools.Utils;component/Skins/Accents/DarkBlue.xaml</value>
      </setting>
      <setting name="ThemeDarkPath" serializeAs="String">
        <value>pack://application:,,,/SHD.KPSA.Tools.Utils;component/Skins/Accents/BaseDark.xaml</value>
      </setting>
      <setting name="ThemeLightPath" serializeAs="String">
        <value>pack://application:,,,/SHD.KPSA.Tools.Utils;component/Skins/Accents/BaseLight.xaml</value>
      </setting>
    </SHD.KPSA.Tools.Properties.Settings>
  </applicationSettings>
</configuration>