<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HelperTools.Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HelperTools.Updater.Properties.Settings>
            <setting name="StartupApplication" serializeAs="String">
                <value>{0}HelperTools.Shell.exe</value>
            </setting>
            <setting name="WebUpdateVersionFile" serializeAs="String">
                <value>https://shd.boehm.xyz/HelperTools/version.json</value>
            </setting>
            <setting name="VersionJsonFileName" serializeAs="String">
                <value>version.json</value>
            </setting>
        </HelperTools.Updater.Properties.Settings>
    </applicationSettings>
</configuration>